@font-face {
  font-family: 'Lato';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Lato-Semibold.ttf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Lato-Medium.ttf') format('opentype');
  font-display: swap;
}