//colors
$default: #282B22;
$green: #3D4A39;
$brown: #AE7B3C;
$grey: #F3F3F3;
$whitebg: rgba(#fff, .5);

//fonts
%Lato-600{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}
%Lato-500{
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

%checkbox-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}